$primary-color: #3e00eb;
$secondary-color: #521aed;

$title-color: #636b6f;
$disabled-gray-color: #a2a5a7;

$white-color: #ffffff;
$gray-color: #fafafa;
$lightgray-color: #f0f0f0;

$red-color: #fb4b3d;
$yellow-color: #ffde39;
$cyan-color: #3cfffb;
$black-color: #000000;
